.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.contentFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.videoTile {
  width: 100pt;
  border-radius: 5pt;
}