
.userWindow {
    display: inline-block;
    flex:1;
    text-align: start;
  }
  
  .userIcon {
    vertical-align: middle;
    margin-right: 1em;
    height: 2em;
    width: 2em;
  }

.userWindow2:hover {
  background-color: #e3e3e3;
}

.userWindow2 {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  .micIcon {
    display: inline-block;
  }
  
  .actualMicIcon {
    vertical-align: middle;
    color: #ff0000;
    width: 1.3em;
    height: 1.3em;
  }
