:root {
    --tile-width: 100pt;
    --tile-height: 60pt;
}

.participantTile {
    width: var(--tile-width);
    height: var(--tile-height);
    overflow: hidden;
    border-radius: 5pt;
    margin: 5pt;
}

.participantTile.big {
    width: calc(100% - 10pt);
    height: calc(100vh - 135pt);
}

.participantTile.big video {
    width: initial;
}


.participantTile.big video {
    object-fit: contain;
    border-radius: 5pt;
}

.participantTile.big:hover {
    border: none;
}

.participantTile video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.participantTile > div {
    position: relative;
}

.participantTile span {
    position: absolute;
    width: var(--tile-width);
    height: var(--tile-height);
    display: inline-grid;
    align-items: center;
    color: white;
    background: #0000003d;
    font-size: 0.8em;
    left:0;
    top:0;
    z-index: 1;
}

.participantTile:hover {
    border: 2px solid #7f7f7f80;
}

.defaultTileBg {
    background: #141414; ;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.tileUserIcon {
    width: 40pt;
    height: 40pt;
    color: #4a4a4a;   
}