.participantList {
    right: 0px;
    background: #F5F1ED;
    height: 100vh;
    width: 200pt;
    display: flex;
    flex-direction: column;
    color: black;
    transition: width 0.3s, visibility 0.3s;
    overflow: hidden;
}

.participantList.closed {
   width: 0pt;
   visibility: hidden;
}


.participantListHeader{
    display: flex;
    padding: 0.5em;
    border-bottom: 1px white s;
  }